
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2Welcome</h2>
<ul class="nav navbar-nav">
    
    <li>@Html.ActionLink("Student Details", "Index", "Students")</li>
    <li>@Html.ActionLink("Staff Details", "Index", "Staff_Details")</li>
</ul>